//  CIRRO CUSTOM SASS
// ----------------------------------------------------------------------------

@-webkit-keyframes rotateIt
  0%    
    -webkit-transform: rotate(0deg)
  100% 
    -webkit-transform: rotate(359deg)

@-moz-keyframes rotateIt
  0%   
    -moz-transform: rotate(0deg)
  100%  
    -moz-transform: rotate(359deg)

@-o-keyframes rotateIt
  0%
    -o-transform: rotate(0deg)
  100%
    -o-transform: rotate(359deg)

@keyframes rotateIt 
  0%
    transform: rotate(0deg)
  100%  
    transform: rotate(359deg)

.floater
  position: fixed
  bottom: 20px
  left: 20px
  font-size: 35px
  font-family: monospace
  z-index: 100
  -webkit-animation: rotateIt 5s infinite linear
  -moz-animation: rotateIt 5s infinite linear
  -o-animation: rotateIt 5s infinite linear
  animation: rotateIt 5s infinite linear

.what
  position: fixed
  z-index: 400
  top: 50%
  -webkit-font-smoothing: antialiased
  left: 62%
  text-align: center
  margin-top: 90px
  margin-left: -71.5px

@media (max-width: 480px)
  .what
    bottom: 20px
    top: 50px
    left: 50%
    margin-top: 0


#loader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-image: url('../img/loading.gif') 
  background-repeat: no-repeat 
  background-position: center center 
  background-color: black
  z-index: 666

#notice
  background: white
  color: $black
  text-align: center
  font-size: 0.6em
  &:hover
    background: pink

html.no-webgl
  section.one
    position: relative
    background-image: url('../img/bg.jpg')
    background-repeat: no-repeat
    background-color: black
    background-position: center center
    background-size: cover
    -moz-background-size: cover
    -webkit-background-size: cover
  .logo
    z-index: 420
  section.two
    top: 0

html.webgl
  section.one
    z-index: 420

section.one
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  cursor: pointer
  + div
    position: fixed
    height: 100%
  .what
    color: white

section.two
  position: relative
  width: 100%
  padding: 200px 0 150px
  background: #FCD9D8
  color: $black
  top: 100%

.info
  position: relative
  z-index: 600
  text-align: center
  padding: 300px 0 800px
  .phone
    margin-bottom: 30px

//.contact
  position: fixed
  font-family: $headingsFontFamily
  top: 40px
  right: 5px
  z-index: 100
  font-size: 19px
  text-transform: lowercase
  transform: rotate(90deg)
  -o-transform: rotate(90deg)
  -moz-transform: rotate(90deg)
  -webkit-transform: rotate(90deg)

.intro
  position: relative
  z-index: 600
  width: 90%
  max-width: 700px
  margin: 0 auto
  padding-top: 100px
  -webkit-font-smoothing: antialiased

//.social
  font-family: $headingsFontFamily
  font-size: 19px
  a.fb
    position: fixed
    bottom: 150px
    left: 5px
    transform: rotate(-90deg)
    -o-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -webkit-transform: rotate(-90deg)
  a.tw
    position: fixed
    bottom: 200px
    left: 5px
    transform: rotate(-90deg)
    -o-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -webkit-transform: rotate(-90deg)




.logo
  position: fixed
  left: 50%
  width: 400px
  margin-left: -200px
  z-index: 420
  cursor: s-resize

@media (max-width: 480px)
  .logo
    width: 200px
    margin-left: -100px
  body footer .footer-logo
    width: 200px
  body section.two
    padding: 200px 0 600px 0

footer
  color: $black
  padding: 0 0 200px 0
  position: absolute
  left: 0
  bottom: 0
  right: 0
  z-index: 600
  .footer-logo
    width: 400px
    margin: 0 auto
